body {
    background-image: url("../images/fresh_snow.png");
    }


p {
    padding: 20px;
    color: #777777;
}

h2 {
    float: right;
    margin: 10px;
    margin-top: 50px;
    
    font-size: 30px;
    color: #777777;
    
}

#HeaderBox {
    background-color: #ffffff5e;
    text-align: center;
    border-color: #cccccc;
    
    
}

#name {
    background-color: #4aaaa5;
    text-align: center;
    color: white;
    font-size: 60px; 
    font-family: Georgia, Times, Times New Roman, serif;
    margin: 20px;
    float: left;
    margin-left: 10%;
    padding: 20px;
}

.MainContant {
    float: left;
    background-color: white;
    width: 550px;
    margin-left: 10%;
    border-radius: 5px;
    min-height: 100%;
    position: relative;
}

#ConnectBox {
    position: relative;
    background-color: white;
    width: 270px;
    float: right;
    border-radius: 5px;
    margin-right: 10% ;
     
}



footer {
    background-color: #666666;
    height: 35px;
    width: 100%;
    text-align: center;
    color: rgb(216, 216, 216);
    padding-top: 15px;
    clear: both;
    border-top: #4aaaa5 10px solid;
    
    
}

#AboutMe {
    color: #4aaaa5;   
    font-size: 50px;
    padding: 20px;
    border-bottom: grey 2px solid;
}

#headshot {
    height: 300px;
    padding: 20px;
}

h3 {
    padding: 5px;
    color: #4aaaa5;
    font-size: 30px;
    text-align: center;
    border-bottom: grey 2px solid;
    
}

.logo {
    width: 50px;
    padding: 5px;
    display: inline;
}

#Contact {
    margin-right: 10%;
}
