body {
    background-color: blanchedalmond;
    color:#777777;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.HeaderBox {
    background-color: #ffffff;
    text-align: center;
    float: left;
}

#name {
    background-color: blue;
    text-align: center;
    color: white;
    font-size: 60px; 
    font-family: Georgia, Times, Times New Roman, serif;
    margin: 20px;
}

#contact {
    float: right;
}